@import url('./_variaveis.css');
@import url('./_reset.css');

body {
  font-family: var(--familia-corpo);
  font-size: var(--tamanho-corpo);
  background: url('../../img/fundo_textura.png'), url('../../img/fundo_linhas.png');
  background-position: center;
}

.container {
  padding-left: 1rem;
  padding-left: 1rem;
}